@model MyCRUD.Models.Users

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.FileData.Any(f => f.FileType == MyCRUD.Models.FileType.Avatar))
        {
        <dt>
            Avatar
        </dt>

        <dd>
            <img src="~/File?id=@Model.FileData.First(f => f.FileType == MyCRUD.Models.FileType.Avatar).FileId" alt="avatar" class="img-rounded" height="100" width="100" />
        </dd>
        }
        <dt>
            @Html.DisplayName("First Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd> 

        <dt>
            @Html.DisplayName("Last Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayName("Email ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailID)
        </dd>

        <dt>
            @Html.DisplayName("Phone Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
