@model IEnumerable<MyCRUD.Models.Users>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New user", "Create")
</p>
<table class="table">
    <tr>
      
       
        <th>
           Picture
        </th>
        
        <th>
           First Name           
        </th>
        <th>
           Last Name
        </th>
        <th>
            Email ID
        </th>
        <th>
            Contact Number
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.FileData.Any(f => f.FileType == MyCRUD.Models.FileType.Avatar))
            {
                <img src="~/File?id=@item.FileData.First(f => f.FileType == MyCRUD.Models.FileType.Avatar).FileId" alt="avatar" class="img-rounded" height="100" width="100" />
            }
            
        </td>
        <td>
            @Html.DisplayFor( modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userID }) |
            @Html.ActionLink("Details", "Details", new { id=item.userID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userID })
        </td>
    </tr>
}

</table>
